*{
    /* background-color: rgb(250, 177, 189); */
    font-family: 'poppins', 'sans-serif';
    background-color: rgb(238, 161, 174)
}
.header{ /*Education*/
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    color: white;
}
.container{ 
    margin: 0 600px 0 600px;

    text-align: center;
    display: block;
    list-style: none;
}
.header:hover{
    color: black;
}
.paragraph-1 p{ /*Header Text */
    display: inline-block;
    color: white;
    /* border: 2px solid green; */
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}
.paragraph-1 h2{ /*President Nelson*/
    color: white;
    /* border: 2px solid red; */
}
.list{
    /* border: 2px solid yellow; */
    color: black;
    line-height: 1.7;
    font-size: 1.1rem;
}
.list ul{
    /* border: 2px solid green; */
    text-align: left;   
    /* padding-left: 0; */
    justify-content: center;
    margin-left: 50px;
}
.list ul li{
    /* border: 2px solid violet; */
    list-style: none;
    font-weight: bold;
}
.images{ 
    /* border: 2px solid green; */
    font-weight: bold;
}
.russel{/*President Nelson IMG */
    width: 200px;
    /* border: 2px solid green; */
    height: auto;
}
.bottom-text{  /*Text below President Nelson IMG*/
    display: flex;  
    margin-left: 200px;
    margin-right: 200px;
    color: white; 
    /* border: 2px solid green; */
    font-size: 2rem;
}